

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
   <a href="http://localhost:4200/" ><mat-toolbar>Fileexplorer</mat-toolbar></a>
   
    <mat-nav-list>
   
     <div  style="padding-left: 20px;">
      <!--UPLOAD BUTTON-->
      <form name="fileupload" (click)="AddCurdirUpload()" id="fileupload" action="http://localhost:3000/crud/upload" method="post"
         enctype="multipart/form-data">
         <div class="file-upload">
         <label  for="upfile" class="file-upload__label">  Upload</label>
         <input  id="upfile" class="file-upload__input" type="file" name="upfile" value="" onchange="this.form.submit()" style="color:transparent; ">
        </div>
            <input type="hidden" id="myField" name="curdirect" value={{masterName}} />
           
        </form>
      </div>
      <!--NEWFOLDER-->
     <span style="padding-left: 20px;"><ngbd-modal-component></ngbd-modal-component></span>
      
   
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <div>
      <!--CURRENTDIRECTORY-->
      <div style="border: 3px solid blue;position: absolute;
      left: 35%; top:15px ">Home{{masterName}}</div>
      <div style="position: absolute;
      right: 5px; top:15px"><button class="  btn-outline-primary" (click)="detalle({ foo:masterName.substring(0, this.masterName.lastIndexOf('/'))  })" (click)="sendMessage()">Back</button></div>
    </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-collection ></app-collection>
  </mat-sidenav-content>
</mat-sidenav-container>
