.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #673AB7;
  color:white
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}
/*****************************************
  upload button styles
******************************************/
.file-upload {
	position: relative;
	display: inline-block;
}

.file-upload__label {
  display: block;
  
  width: 101px;
  padding: 2px 3px;
  color: #007bff;
  background: white;
  border: 1px solid #007bff;
  transition: background .3s;
  border-radius: 5px;
	position: relative;
  z-index: 1;
  padding-left:12px

}
.file-upload__label:hover  {
  display: block;
  width: 101px;
  padding: 2px 3px;
  color: white;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  transition: background .3s;
  padding-left:12px

}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

/*****************************************
 design styles
******************************************/
